body {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background: transparent;
}

button:hover{
    cursor: pointer;

}

#botonIzquierda img, #botonDerecha img {
    width: 200px; /* Ajusta el ancho de los botones según tus necesidades */
    height: 200px; /* Ajusta la altura de los botones según tus necesidades */
    border: none;
}

.btn2{
    padding: 5;

}

#sitioCentro {
    flex: 1;
    text-align: center;
    width: 95%; /* Ajusta el ancho del contenedor del iframe */
    height: 95%; /* Ajusta la altura del contenedor del iframe */
}

#iframeContainer {
    width: 100%; /* Ajusta el ancho del contenedor del iframe */
    height: 100%; /* Ajusta la altura del contenedor del iframe */
}
